<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554065461030-bkntg5a7cujct388kg8sjdltro4rllrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554065461030-bkntg5a7cujct388kg8sjdltro4rllrh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>554065461030-sa87tr672m8ekg3d78cagmv10bmi1bo4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOJiZd-yuis3UWCxpWhQ9OB3Ka1XUdVrk</string>
	<key>GCM_SENDER_ID</key>
	<string>554065461030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventPlanner</string>
	<key>PROJECT_ID</key>
	<string>eventplanning-a11fb</string>
	<key>STORAGE_BUCKET</key>
	<string>eventplanning-a11fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554065461030:ios:be558768d177b046dd0be7</string>
</dict>
</plist>